.cp-title{
	margin: 0;
}
.cp-title span{
	font: normal 60%/1em Arial;
	margin-left: 1em;
}

.cp-container{
	position: relative;
	height: 260px;
}

.cp-container img{border: none; vertical-align: middle;}

.cp-panel,
.cp-panel-cursor,
.cp-hue-bar,
.cp-hue-cursor,
.cp-current,
.cp-input,
.cp-input label,
.cp-confirm{position: absolute;}

.cp-panel{
	width: 256px;
	height: 256px;
	overflow: hidden;
	border: 2px solid #ccc;
	/*cursor: none;*/
}
.cp-panel-cursor{
	width: 1px;
	height: 1px;
	overflow: visible;
}
.cp-panel-cursor img{
	position: absolute;
	left: -5px;
	top: -5px;
}

.cp-hue-bar{
	left: 280px;
	width: 20px;
	height: 256px;
	overflow: visible;
	background: url(hue-bar.png);
	border: 2px solid #ccc;
}

.cp-hue-cursor{
	width: 36px;
	height: 7px;
	overflow: visible;
}
.cp-hue-cursor img{
	position: absolute;
	left: -8px;
	top: -3px;
}

.cp-current{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	left: 320px;
	width: 80px;
	height: 80px;
	border: 2px solid #ccc;
}

.cp-input{
	left: 320px;
}

.cp-input input{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 80px;
	height: 24px;
	padding: 1px 0 1px 1em;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: inset 0 2px 2px rgba(100,100,100,.2);
	text-align: center;
	color: #555;
}
.cp-input input,
.cp-input label{
	font: normal 14px/22px "Inconsolata", "Monaco", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
.cp-input label{
	line-height: 24px;
	margin-left: .3em;
}
.cp-input label:after{
	content: ":";
	margin-left: -2px;
}

.cp-red{
	top: 90px;
}
.cp-red label{
	color: #894545;
}

.cp-green{
	top: 125px;
}
.cp-green label{
	color: #3e8668;
}

.cp-blue{
	top: 160px;
}
.cp-blue label{
	color: #3e6187;
}

.cp-result{
	bottom: 35px;
}
.cp-result label{
	color: #999;
}
.cp-result label:after{
	content: "";
}

.cp-confirm{
	bottom: 0;
	left: 320px;
}
.cp-confirm button{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 80px;
	height: 24px;
	line-height: 16px;
	padding: 0;
	border: none;
	border-radius: 5px;
	background: #000;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.cp-confirm div.cp-flash-layer,
.cp-confirm div.cp-flash-layer object{
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 24px;
	overflow: hidden;
	opacity: 0;
	filter: alpla(opacity=0);
}
